/* Write your code here. */
* {
  box-sizing: 0px;
}
body {
  margin: 0px;
}

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-heading {
  color: #0f172a;
  font-family: "Roboto";
  font-size: 26px;
}
@media screen and (min-width: 768px) {
  .main-heading {
    font-size: 48px;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 500px;
}

@media screen and (min-width: 768px) {
  .card-container {
    width: 60%;
  }
}
.notification-container {
  width: 400px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .notification-container {
    margin-bottom: 48px;
    padding-top: 16px;
    padding-right: 12px;
    padding-bottom: 16px;
    padding-left: 24px;
  }
}

.notification-card-info {
  background-color: #0b69ff;
  color: #ffffff;
}
.img {
  height: 20px;
  width: 20px;
  color: #ffffff;
  margin-right: 5px;
}
.infoMsg {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 16px;
}

.notification-card-success {
  background-color: #2dca73;
  color: #ffffff;
}

.notification-card-warning {
  background-color: #ffb800;
  color: #ffffff;
}

.notification-card-error {
  background-color: #ff0b37;
  color: #ffffff;
}
